@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@500;900&display=swap');
:root{
    --Principal: #fff;
    --Secundary: #20dbc2;
    --Terciary: #00bfa6;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Popins', sans-serif;
    background-color: var(--Terciary);
    /* background-image: linear-gradient(43deg, var(--Terciary), var(--Secundary) 100%);  */

}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin:70px;
  background: #ffff;
  border-radius: 20px;
  height: 60%;
  border: 7px solid #000;
  -webkit-box-shadow: 13px 13px 16px -8px rgba(0,0,0,0.84); 
box-shadow: 13px 13px 16px -8px rgba(0,0,0,0.84);
}

.container .panel{
    margin: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('./img/undraw_programming_re_kg9v.svg') no-repeat;
    background-size: contain;
    background-position: bottom;
}

.container .panel h1{
    text-transform: uppercase;
    font-weight: 800;
}

.container .panel h1 span{
    color: var(--Secundary);
}

.container .post-form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .post-form form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .post-form form .form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70%;
    margin: 20px;
}

.container .post-form form .form-control input, textarea, option, select{
    margin: 10px;
    border: none;
    background-color: #f0f0f0;
    padding: 0.4rem;
    border-radius: 20px;
    color: #000;
    outline: none;
    line-height: 1;
    font-size: 1.2rem;
}

.container .post-form form .form-control select{
    font-weight: 700;
}

.container .post-form form .form-control input:placeholder-shown, option:placeholder-shown, textarea:placeholder-shown{
    color: #000;
    font-weight: 700;
}

.container .post-form form textarea{
    outline: none;
    resize: none;
}

.container .post-form form .form-control .Actions button{
    border: 2px solid var(--Secundary);
    padding: 5px 15px;
    border-radius: 20px;
    background: none;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.container .post-form form .form-control .Actions button:hover{
    background: var(--Secundary);
    color: #fff;
}

.container .post-form form .form-control .Actions a{
    border: 2px solid #000;
    text-decoration: none;
    padding: 1px 7px;
    border-radius: 20px;
    color: #000;
}

.container .post-form form .form-control .Actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}