@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@500;900&display=swap');
:root{
    --Principal: #fff;
    --Secundary: #20dbc2;
    --Terciary: #00bfa6;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
}

main{
    background: url('./bg.svg') no-repeat;
    background-size:contain;
    background-position:right;
    width: 100%;
    min-height: 95vh;
    
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

header{
    
    width: 100%;
    height: 5%;
    padding: 30px 100px;


    /* Posicionamento */
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo img{
    height: 200px;
    padding: 0;
    margin: 0;
}

header .navigation a{
    color: #000;
    background: #e4dddd00;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    transition: 0.5s ease-in;
    font-weight: 600;
}
header .navigation a:hover{
    background: var(--Secundary);
    transition: 0.5s ease-in;
    color: #fff;
    border: none;
}
.content{
    max-width: 650px;
    margin: 60px 110px;
}

.content .info h2{
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.content .info h2 span{
    font-weight: 600;
    color: var(--Secundary);
    font-size: 55px;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.content .info .infoBtn{
    text-decoration: none;
    border: 3px solid var(--Secundary);
    border-radius: 7px;
    padding: 10px;
    color: #000;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}

.content .info .infoBtn:hover{
    background: var(--Secundary);
    color: #fff;
}

.sobre{
    height: 100vh;
    background: url('section.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

section .content{
    width: 40%;
    position: absolute;
    right: 2%;
}

section .content h1{
    margin-bottom: 5%;
}

.call{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.call .icon{
    height: 30px;
    width: 40px;
    transition: all 1s;
}
.call .icon:hover{
    transform: translateY(-30%);
}

#sobre{
    height: 95.2%;
}

.desenvolvido{
    background: url('desenvolvimento.svg') no-repeat;
    background-position: right;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

section div p{
    text-indent: 2em;
}
section div p a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #6C63FF;
}


